[Unit]
Description=Spider robot web server
After=network.target

[Service]
Type=simple
User=student
WorkingDirectory=/home/student
ExecStart=/bin/bash /home/student/start.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
